{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "worker": true,
    "serviceworker": true,
    "es6": true
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "globals": {
    "FontFaceObserver": true,
    "fontFaceSet": true
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "jest",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id", "_insertCss", "_getCss"] }],
    "prettier/prettier": "error"
  }
}
